

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mars Rover Adventures</title>
    <link rel="stylesheet" href="/css/Menu.css">
    <link rel="stylesheet" href="/css/Style.css">
    <link rel="stylesheet" href="/css/Index.css">
    <script src="/js/menu.js"></script>
    <script src="/js/Gallery.js"></script>
    <title>Home Page</title>
</head>
<body>
    <section class="s_container">
        <div class="menu-wrap">
            <input id="menu_button" type="checkbox" class="toggler">
            <div class="hamburger"><div></div></div>
            <div class="menu" onclick="menuClose()">
                <div>
                    <ul>
                        <li>@Html.ActionLink("Home Page", "Index", "Home")</li>
                        <li>@Html.ActionLink("Gallery Page", "Gallery", "Home")</li>
                        <li>@Html.ActionLink("Mars Data Page", "MarsData", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-light">
            <div class=" container-fluid">
                <div id="index-welcome">
                    <span id="earth-date-display"> Earth Date: <br />@DateTime.Now.ToShortDateString()</span>
                    <div id="welcome-container">
                        <h1 id="header">welcome to mars</h1>
                        <p id="motto">we got:</p>
                    </div>
                    <span id="mars-date-display"> Mars Sol Date: <br />@DateConverter.CurrentMarsDate()</span>
                </div>
            </div>
        </nav>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        <footer>
            <p>Mars Rover hub page designed by Communism :)</p>
            <div id="footer-nav">
                |<a> index </a>|
                <a> gallery </a>|
                <a> conversions </a>|
                <a> degu </a>|
            </div>
        </footer>
    </section>
</body>
</html>
