

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mars Rover Adventures</title>
    <link rel="stylesheet" href="/css/Style.css">
    <link rel="stylesheet" href="/css/Menu.css">
    <script src="/js/menu.js"></script>
    
    <title>Home Page</title>
</head>
<body>
    <div class="menu-wrap">
        <input id="menu_button" type="checkbox" class="toggler">
        <div class="hamburger"><div></div></div>
        <div class="menu" onclick="menuClose()">
            <div>
                <div>
                    <ul>
                        <li>@Html.ActionLink("Home Page", "Index", "Home")</li>
                        <li>@Html.ActionLink("Gallery Page", "Gallery", "Home")</li>
                        <li>@Html.ActionLink("Mars Data Page", "MarsData", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="body-wrapper">
        <nav>
            <div id="nav-title">
                <h1 id="header">@ViewBag.Title</h1>
                <p id="motto">@ViewBag.Motto</p>
            </div>
            <div id="nav-clocks">
                <p>EARTH DATE: <strong>@DateTime.Now.ToShortDateString()</strong></p>
                <p>MARS SOL DATE: <strong>@DateConverter.CurrentMarsDate()</strong></p>
            </div>
        </nav>
        <main role="main">
            @RenderBody()
        </main>
        <footer>
            <p style="font-weight: bold;">Mars Rover hub page designed by Communism :)</p>
            <div id="footer-nav">
                <ul>
                    <li class="ListStuff">@Html.ActionLink("Home Page", "Index", "Home")</li>
                    <li class="ListStuff">@Html.ActionLink("Gallery Page", "Gallery", "Home")</li>
                    <li class="ListStuff">@Html.ActionLink("Mars Data Page", "MarsData", "Home")</li>
                </ul>
            </div>
        </footer>
    </div>
</body>
</html>
