@model MarsRoverBestGroup3._0.Models.GalleryModel;

<head>
    <link rel="stylesheet" href="/css/Gallery.css">
    <script src="/js/Gallery.js"></script>
</head>

<body>
    <div id="gallery-container">
        <div id="gallery-flex">
            <div id="gallery-form">
                <strong>@Model.rover</strong>
                <p style="padding:0px 0px 15px 0px">@Model.date.ToShortDateString() - @Model.camera camera</p>
                @using (Html.BeginForm("Gallery", "Home", FormMethod.Post))
                {


<input type="date" id="start" title="date to search" name="date"
                           value="2012-08-06"
                           min="2004-01-04" max="2021-12-31"><div style="display:flex">
                        <select id="rover-options" title="rover" name="rover">
                            
                            <option value="curiosity">Curiosity</option>
                            <option value="perseverance">Perseverance</option>
                            <option value="opportunity">Opportunity</option>
                            <option value="spirit">Spirit</option>
                        </select>
                        <select id="camera-options" title="camera" name="camera">
                            <option value="all">all</option>
                            <option value="fhaz">fhaz</option>
                            <option value="rhaz">rhaz</option>
                            <option value="mast">mast</option>
                            <option value="chemcam">chemcam</option>
                            <option value="mahli">mahli</option>
                            <option value="mardi">mardi</option>
                            <option value="navcam">navcam</option>
                        </select>
                    </div>
                    <input type="submit" id="submit" />
                }
            </div>

            @if (Model.APIStatus)
            {
                                            if (Model.photos.Any())
                                            {
                                                foreach (var photo in Model.photos)
                                                {
                        <a href=@photo.ImgSrc target=”_blank”><img class="gallery_image" alt="@photo.Rover.Name + @photo.Camera.FullName + @photo.EarthDate" src=@photo.ImgSrc></a>
                    }

                            }
                else
                            {
                    <span style="color: white">No photos available for this query</span>
                }

            }
            else
                            {
                <span style="color: white">Couldn't retrieve any data</span>

            }



        </div>
    </div>
</body>
<script>
    var lookup = {
                                'curiosity': ['all', 'fhaz', 'rhaz', 'mast', 'chemcam', 'mahli', 'mardi', 'navcam'],
        'perseverance': ['all'],
        'opportunity': ['all', 'fhaz', 'rhaz', 'navcam', 'pancam', 'minites'],
        'spirit': ['all', 'fhaz', 'rhaz', 'navcam', 'pancam', 'minites'],
    };
    var dates = {
        'curiosity': "2012-08-06",
        'perseverance': "2021-02-18",
        'opportunity': "2004-01-25",
        'spirit': "2010-03-22",

    }
    var roverSelect = document.getElementById("rover-options");
    var cameraSelect = document.getElementById("camera-options");
    var dateSelect = document.getElementById("start");
    roverSelect.onchange = function () {
        var selectValue = roverSelect.value;
        dateSelect.value = dates[selectValue];
        cameraSelect.innerHTML = "";
        lookup[selectValue].forEach(function (e) {
            var newOption = document.createElement("option");
            newOption.value = e;
            newOption.innerHTML = e;
            cameraSelect.appendChild(newOption);
        })
    };
</script>